---
import Layout from '../layouts/Layout.astro';
---
<Layout title="ACCESS">
	<style>
		.access-content {
			padding: 0 10% 4rem;
		}
		.access-box {
			background: #222;
			padding: 2rem;
			border-left: 10px solid var(--primary);
			margin-bottom: 2rem;
		}
		.access-box h3 {
			margin-top: 0;
			font-weight: 900;
		}
	</style>
	<main>
		<h2 class="section-title">Access</h2>
		<div class="access-content">
			<div class="access-box">
				<h3>阪急大阪梅田駅から</h3>
				<p>徒歩約3分</p>
			</div>
			<div class="access-box">
				<h3>JR大阪駅から</h3>
				<p>徒歩約4分</p>
			</div>
			<div class="access-box">
				<h3>阪神大阪梅田駅から</h3>
				<p>徒歩約3分</p>
			</div>
			<div class="access-box">
				<h3>所在地</h3>
				<p>〒530-8350 大阪府大阪市北区角田町8番7号</p>
			</div>
		</div>
	</main>
</Layout>
